.MainBody{
    width:94%;
    height:calc(100vh - 80px);
    margin: auto;
    display: flex;
    border-radius: 3px;
    justify-content: space-between;
    
}

@media (max-width:600px){
    .MainBody{
        width:95%;
        height:calc(100% - 9vh);
    }
    
}

