.Nav{
    /* background-color: rgb(45, 186, 190); */
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 2vh;
    width: 100%;
    font-size: 20px;
    z-index: 100;
}

.Nav p{
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin: 8px 0;
    margin-left: 60px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 5px;
}

.Nav ul{
    list-style: none;
    display: flex;
    margin: 8px 0;
    margin-right: 60px; 
}
.Nav ul li:not(:last-child){
    margin-right: 20px;
}
.Nav ul li a{
    text-decoration: none;
    color: white;
}
.Nav ul li strong{
    font-size: 14px;
    color: white;
}
.Nav ul li i{
    font-size: 20px;
}
.Nav button{
    border:none;
    outline: none;
    background-color: transparent;
    color:rgb(238, 235, 235);
    font-weight: 700;
}
.Nav button:hover, .MenuIcon:hover, .FriendsIcon i:hover{
    color:white;
    cursor: pointer;
}
.Nav .RequestAlert, .Dropdown .RequestAlert{
    color:rgb(248, 163, 163);
}
.Nav .RequestAlert:hover{
    color:rgb(247, 142, 142);
}
.MobileOnly, .MenuIcon, .MobileeOnly {
    display: none;
}
.MenuIcon, .MobileOnly i{
    color: rgb(238, 235, 235);
    font-size: 14px;
}
.Dropdown{
    width:130px;
    background-color: rgba(66, 64, 64, 0.911);
    position: absolute;
    z-index: 1000;
    top: 10vh;
    left: 70vw;
}
.Dropdown ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.Dropdown ul li{
    padding: 5px 10px;
}
.Dropdown ul li:not(:last-child){
    border-bottom: 1px solid rgb(104, 102, 102);
}
.Dropdown ul li button{
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: 600;
    color:rgb(238, 235, 235);
}
.Dropdown ul li:hover{
    background-color: rgba(97, 94, 94, 0.911);
}
.MobileeOnly strong{
    color: rgb(241, 240, 240);
    position: absolute;
    top: 9vh;
    left:50%;
    transform: translateX(-50%);
    font-size: 13px;
}



@media (max-width:1200px){
    .Nav p{
        font-size: 27px;
        letter-spacing: 4px;
    }
}

@media (max-width:900px){
    .Collapse{
        display: none;
    }
    .MenuIcon, .MobileOnly{
        display: block;
    }
}
@media (max-width:800px){
    .Dropdown{
        left: 66vw;
    }
    
}
@media (max-width:700px){
    .Dropdown{
        left: 62vw;
    }
    .Nav p{
        font-size: 25px;
        /* margin: 5px 0; */
        margin-left: 40px;
        letter-spacing: 4px;
    }
}
@media (max-width:600px){
   
    
    .Nav{
        top: 2vh;
        font-size: 16px;
    }
    .Nav p{
        font-size: 23px;
        margin: 7px 0;
        margin-left: 20px;
        letter-spacing: 3px;
    }
    .Nav ul li i{
        font-size: 18px;
    }
    .Nav ul li strong{
        font-size: 14px;
    }
    .Nav ul li:not(:last-child){
        margin-right: 28px;
    }   
    
    .MobileeOnly{
        display: block;
    }
    .DesktopOnly{
        display: none;
    }
    .Nav ul{
        margin-right: 0px;
    }
    
    .Dropdown{
        top: 9vh;
        left: 71vw;
    }
    
    .MobileeOnly strong{
        background-color: rgb(57, 57, 109);
        width:100%;
        padding: 9px 2px;
    }
     
}
@media (max-width:500px){
   
    .Dropdown{
        left: 64vw;
    }
    
}
@media (max-width:420px){
    .Dropdown{
        left: 59vw;
    }
    .Nav ul li:not(:last-child){
        margin-right: 20px;
    }  
    
}



/* @media (max-width:350px){
    .Nav p{
        font-size: 14px;
        margin: 3px 0;
        margin-top: 7px;
        margin-left: 10px;
        letter-spacing: .5px;
    }
    .Nav ul li i{
        font-size: 12px;
    }
    .Nav ul li strong{
        font-size: 10px;
    }
    .Dropdown{
        left: 35vw;
    }
} */




