.MessageBox{
    width:68%;
    height: 97%;
    background-color: rgba(227, 227, 228, 0.856);
    border-radius: 3px;
    margin-left: 4%;
    position: relative;

}
.ChatHead{
    background-color: rgb(157, 157, 167);
    text-align: left;
    padding: 4px 13px;
}

.ChatHead span{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transform: translateY(4.5%);
}
.ChatHead b{
    display: inline-block;
    margin: auto 9px;
    transform: translateY(-60%);
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(100, 8, 8);

}
.ChatHead button{
    float: right;
    transform: translateY(90%);
    margin-right: 20px;
    background-color: transparent;
    border: none;
    outline:none;
    font-size: 15px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.MessageBox ul{
    height:79%;
    list-style: none;
    padding:0 20px;
    overflow: auto;
}

.MessageBox ul li{
    margin-bottom: 10px;
}
.ListFriend{
    text-align: left;    
}
.ListMe{
    text-align: right;
}
.Friend, .Me{
    background-color: white;
    max-width: 70%;
    display: inline-block;
    padding: 5px 8px;
    color: rgb(75, 74, 74);
    font-size: 13px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.Friend span{
    width:10px;
    height:20px;
    clip-path: polygon(0 46%, 100% 100%, 100% 0);
    background-color: white;
    float:left;
    transform: translateX(-150%);
}
.Me span{
    width:10px;
    height:20px;
    clip-path: polygon(0 0, 0 100%, 100% 47%);
    background-color:white;
    float:right;
    transform: translateX(150%);
}
.Time, .Time2{
    display: flex;
    flex-direction: column;
    font-size: 11px;
    color: rgb(151, 150, 150);
    text-align: center; 
    margin-top: 3px;
}
.Time{
    margin-right: 20px;
    float: left;
}
.Time2{
    margin-left: 20px;
    float: right;
}
.MessageBox ul li em:last-child{
    color:rgba(255, 0, 0, 0.671);
    font-size: 8px;
}

.MessageBox form{
    width: 99.5%;
    background-color: rgb(57, 57, 109);
    padding: 8px 2px;
    padding-top: 9px;
    position: absolute;
    bottom: 0px;
}

.MessageBox form input{
    padding: 4.4px 10px;
    width: 50%;
    border: none;
    border-radius: 3px;
    margin-bottom: 2px;
    
}
.MessageBox form input:focus{
    outline: 1px solid blue;
}
.MessageBox form button{
    padding: 3px 10px;
    border: none;
    outline:none;
    font-size: 15px;
    font-weight: 600;
    color: rgb(57, 57, 109);
    cursor: pointer;
    margin-left: 10px;
    border-radius: 2px;
    transform: translateY(3.5%);
}
.MessageBox form button:hover{
    background-color: rgb(219, 218, 218);
}
.chatImage{
    max-width: 220px;
}
.chatAudio{
    max-width: 240px;
    max-height: 40px;
    transform: translateY(-20%);;
}
@media (max-width:1200px){
    .MessageBox{
        width:64%;
    }
}

@media (max-width:1100px){
    .MessageBox{
        width:66.5%;
        margin-left: 2%;
    }
    .chatImage{
        max-width: 200px;
    }
}

@media (max-width:1000px){
    .MessageBox{
        width:63.3%;
    }
}

@media (max-width:900px){
    .MessageBox{
        width:85.1%;
        margin-left: 7.3%;
    }
    .chatImage{
        max-width: 150px;
    }
    
    
}

@media (max-width:600px){
    .MessageBox{
        position: absolute;
        top:0vh;
        left:1vw;
        width:98vw;
        margin-left: 0%;
        height: 99vh;
        z-index: 100;
    } 
    .ChatHead span{
        width: 30px;
        height: 30px;
    }
    .ChatHead b{
        font-size: 13px;
    
    }

    .ChatHead button{
        transform: translateY(40%);
        margin-right: 10px;
        font-size: 14px;
        color: rgb(95, 20, 20);
    }
    
    .MessageBox form{
        width: 99%;
        padding: 8px 2px;
        padding-top: 9px;
    }
    .MessageBox ul{
        height:85%;
        padding:0 15px;
    }
    .MessageBox form button{
        padding: 2px 5px;
        font-size: 13px;
        transform: translateY(3%);
    }
    .MessageBox form input{
        padding: 3px 10px;
        width: 60%;
        
    }
    .ModalContent h3{
      font-size: 16px;
    }
    .ModalContent input{
        width:75%;
        font-size: 12px;
    }
    .ModalContent button{
        font-size: 12px;

    }
    
    
}
@media (max-width:400px){
    .ChatHead button{
        font-size: 13px;
        margin-right: 5px;
        transform: translateY(45%);
    }

    .MessageBox form button{
        padding: 2px 5px;
        font-size: 13px;
        transform: translateY(1%);
    }


    
}

