.FriendsBox{
    position: absolute;
    width:26.4%;
    height: 85.5%;
    background-color: rgba(90, 83, 83, 0.74);
    overflow: auto;
    border-radius: 3px;
    right:2%;
    top: 80px;
    overflow: auto;
}
.FriendsBox ul{
    margin: 0;
    padding: 10px;
    list-style: none;
}
.FriendsBox ul p{
    color: rgb(185, 184, 184);
    margin: 10px 30px;
    font-size: 13px;
}
.FriendsBox li aside button{
     border: none;
     outline: none;
     background-color: transparent;
     color: rgb(150, 150, 150);
     font-weight: 700;
     cursor: pointer;
}
.FriendsBox li aside button i{
    font-size: 18px;
}
.FriendsBox li aside button:last-child i{
    font-size: 16px;
}
.FriendsBox li aside button:last-child{
    color: rgb(238, 163, 163);
}
.FriendsBox li aside button:hover{
    color: rgb(128, 128, 128);
}
.FriendsBox li aside button:last-child:hover{
    color: rgb(228, 122, 122);
}
.Btns{
    /* display: inline; */
    float: right;
    margin-top: 12px;
    margin-right: 15px;
}
.Popup{
    position: absolute;
    background-color: white;
    padding: 15px 20px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
    display: none;
}
.FriendsBox li{
    position: relative;
    text-transform: capitalize;
    padding: 0;
    text-align: left;
    font-weight: 600;
    color: white;
    margin-left: 20px;
}

.FriendsBox li:hover .Popup{
    display: block;
}
.FriendsBox li img{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transform: translateY(25%);
    margin-right: 10px;
}
@media (max-width:1200px){
    .FriendsBox{
        width:30%;
    }
}

@media (max-width:1000px){
    .FriendsBox{
        width:33%;
    }
}

@media (max-width:900px){
    .FriendsBox{
        width:290px;
        background-color: rgba(90, 83, 83, 0.904);
        transition: all 1s;
        position: absolute;
        z-index:900;
        right: 0;
    }
    .Btns{
        margin-right: 5px;
    }
    .FriendsBox li{
        margin-left: 10px;
        font-size: 15px;
    }
}
@media (max-width:700px){
    .FriendsBox{
        top: 66px;
    }
}
@media (max-width:600px){
    .FriendsBox{
        height: 84.45%;
        top: 99px;
    }
    .FriendsBox li{
        font-size: 14px;
    }
    .FriendsBox li aside button i{
        font-size: 17px;
    }
    .FriendsBox li aside button:last-child i{
        font-size: 15px;
    }
}
@media (max-width:400px){
    .FriendsBox{
        top: 94px;
    }
}

@media (max-width:370px){
    .FriendsBox{
        top: 91px;
    } 
}

