.FriendsBox{
    position: absolute;
    width:26%;
    height: 80%;
    background-color: rgba(90, 83, 83, 0.74);
    overflow: auto;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    right:2%;
    top: 12.9vh;
}
.FriendsBox ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.FriendsBox li aside button{
     border: none;
     outline: none;
     background-color: transparent;
     color: rgb(150, 150, 150);
     font-weight: 700;
     cursor: pointer;
}
.FriendsBox li aside button i{
    font-size: 18px;
}
.FriendsBox li aside button:last-child i{
    font-size: 16px;
}
.FriendsBox li aside button:last-child{
    color: rgb(238, 163, 163);
}
.FriendsBox li aside button:hover{
    color: rgb(128, 128, 128);
}
.FriendsBox li aside button:last-child:hover{
    color: rgb(228, 122, 122);
}
.Btns{
    /* display: inline; */
    float: right;
    margin-top: 12px;
    margin-right: 15px;
}
.Popup{
    position: absolute;
    background-color: white;
    padding: 15px 20px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
    display: none;
}
.FriendsBox li{
    position: relative;
    text-transform: capitalize;
    padding: 0;
    text-align: left;
    font-weight: 600;
    color: white;
    margin-left: 20px;
}

.FriendsBox li:hover .Popup{
    display: block;
}
.FriendsBox li img{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transform: translateY(25%);
    margin-right: 10px;
}

@media (max-width:1100px){
    .FriendsBox{
        width:28%;
    }
}

@media (max-width:1000px){
    .FriendsBox{
        width:33%;
    }
}

@media (max-width:900px){
    .FriendsBox{
        width:270px;
        height: 81.7%;
        background-color: rgba(90, 83, 83, 0.904);
        transition: all 1s;
        position: absolute;
        z-index:900;
        right: 0;
        top: 10.9vh;
    }
}
@media (max-width:600px){
    .FriendsBox{
        height: 100%;
        top: 6.9vh;

    }
}
