.SearchPage{
    width: 63%;
    min-height:320px;
    max-height: 550px;
    background-color: rgba(250, 249, 249, 0.822);
    border-radius: 3px;
    padding: 20px;
    padding-bottom: 10px;
    margin-left: 5%;

}
.SearchPage ul{
    list-style: none;
    padding: 0px;
    overflow: auto;
    min-height: 270px;
    max-height: 500px;
    background-color: rgb(240, 239, 239);

}

.SearchPage ul li{
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 20px;
    width: 80%;
    margin: auto;
    color: rgb(114, 113, 113);
    font-size: 15px;
    word-spacing: 2px;
}
.SearchPage ul li button:not(:last-child){
    margin-left: 30px;
}
.SearchPage ul li button{
    border:none;
    outline: none;
    color:white;
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(136, 136, 194);
    padding: 4px 6px;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.SearchPage ul li button:last-child{
    background-color: rgb(123, 180, 131);
}
.SearchPage input{
    width: 40%;
    padding: 4px 8px;
    outline: none;
    background-color: white;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 5px;
}
.SearchPage input::placeholder{
    color: rgb(177, 172, 172);
}
.SearchButton{
    padding: 4px 10px;
    background-color: rgb(131, 125, 125);
    /* border: 1px solid rgb(102, 100, 100); */
    border:none;
    border-radius: 5px;
    color:white;
    margin-left: 5px;
    outline: none;
}
.SearchButton:hover{
    background-color: rgb(107, 105, 105);
    cursor: pointer;
}
.SearchPage .Initial{
    color: rgb(158, 157, 157);
    font-size: 13px;
}
.DivImage{
    display: inline-block;
    width:50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transform: translateY(30%);
    margin-right: 10px;
    border: 1px solid rgb(182, 180, 180);
    box-shadow: 2px 3px 6px rgba(0,0,0,0.2);
}

@media (max-width:900px){
    .SearchPage{
        width: 80%;
        min-height:320px;
        max-height: 450px;
        padding: 20px;
        padding-bottom: 10px;
        margin-left: 7.5%;
    
    }
}
@media (max-width:600px){
    .SearchPage{
       width:93.5%;
       margin-left: 0%;
    
    }
    .DivImage{
        width:35px;
        height: 35px;
    }
    .SearchPage ul{
        padding: 0px;
    }
    .SearchPage ul li{
        padding: 5px 5px;
        width: 100%;
        font-size: 12px;
        word-spacing: 1px;
    }
    .SearchPage ul li button{
        font-size: 10px;
        padding: 3px 5px;
        margin-left: 3px;
    }
    .SearchPage ul li button:not(:last-child){
        margin-left: 10px;
    }
    
}
@media (max-width:500px){
    .SearchPage{
        width:91.6%;
     
     }
}
@media (max-width:400px){
    .SearchPage{
        width:89.7%;
     
     }
}

