
.ImageDisplay{
    position: relative;
    height: 40px;
}
.Wraper{
    border: 2px solid white;
    width:50px;
    transform: translateY(-7px);
    border-radius: 5px;
    margin:auto;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.2);

}

.Image{
    width:50px;
    height:40px;
    border-radius: 3px;
    filter: blur(0);
    transition: filter .5s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}
.IconUpload{
    font-size: 20px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: rgba(235, 235, 235, 0.74);
    opacity: 0;
    transition: all .5s;
    cursor:pointer;
}
form .SubmitButton{
    color: rgb(97, 96, 96);
    border:1px solid gray;
    padding: 3px 6px;
    border-radius: 3px;
}

.IconUpload:hover{
    opacity:1;
    color: rgba(235, 235, 235, 0.877);
}
.Wraper:hover .Image{
    filter: blur(2px);
}
.IconUpload:hover + .ImageDisplay img{
    filter: blur(2px);
}
.Image:hover + .IconUpload{
    opacity:1;
}
@media (max-width:900px){
    .ImageDisplay{
        height: 30px;
    }
    .Wraper{
        border: 1px solid white;
        width:40px;
        transform: translateY(-5px);
        border-radius: 5px;
    
    }
    
    .Image{
        width:40px;
        height:30px;
        border-radius: 3px;
    
    }
    .IconUpload{
        font-size: 16px;
    }
       
}
@media (max-width:600px){
    .Wraper{
        transform: translateY(-6px);
        border-radius: 4px;
    
    }

    .ModalContent h3{
        font-size: 16px;
      }
      .ModalContent input{
          width:75%;
          font-size: 12px;
      }
      .ModalContent button{
          font-size: 12px;
  
      }
    
       
}